@import "tailwindcss";

.chat-html h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.chat-html h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
}

.chat-html p {
  margin-bottom: 8px;
}

.chat-html ul {
  list-style-type: disc;
  padding-left: 18px;
  margin-bottom: 8px;
}

.chat-html li {
  margin-bottom: 4px;
}

.chat-html ol {
  list-style-type: decimal;
  padding-left: 18px;
  margin-bottom: 8px;
}